*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

body {
  background-color: #fff;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contacts {
  background: url(../images/background_contacts.png) top center/no-repeat;
  font-size: 15px;
  line-height: 25px;
}
.contacts .wrapper_left {
  width: 50%;
}
.contacts h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 45px;
}
.contacts .title_for_contacts {
  width: 30%;
  margin: 0 auto;
  font-size: 17px;
}
.contacts .contact_title {
  padding: 95px 0;
  text-align: center;
  line-height: 25px;
}
.contacts ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
.contacts :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
.contacts ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
.contacts :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
.contacts input, .contacts textarea {
  font-weight: bold;
  color: #fff;
}
.contacts #name, .contacts #email, .contacts #phone {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: #7ddfdf;
  opacity: 0.5;
  border: none;
  outline: none;
}
.contacts #name:focus, .contacts #email:focus, .contacts #phone:focus {
  opacity: 1;
  border-left: 6px solid #355b82;
}
.contacts #text {
  width: 100%;
  height: 250px;
  background-color: #7ddfdf;
  opacity: 0.5;
  border: none;
  text-decoration: none;
  outline: none;
}
.contacts #text:focus {
  opacity: 1;
  border-left: 6px solid #355b82;
}
.contacts .wrapper_right {
  margin-top: -420px;
  flex-basis: calc(40% - 20px);
}
.contacts .btn-light_green {
  position: relative;
  border: none;
  width: 100%;
  height: 50px;
  line-height: 25px;
  padding: 0 25px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
  background-color: #00c4c4;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 5px #4e545f;
}
.contacts .btn-light_green:hover {
  background-color: #152e2e;
  transition: all 0.5s ease;
}

.copy {
  background-color: #262626;
  color: #b9b9b9;
  width: 100%;
  height: 90px;
  padding: 30px 0 30px;
}
.copy .copy_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.copy .copyright {
  width: 30%;
}
.copy #logo_footer {
  text-align: center;
}
.copy .made {
  width: 30%;
  text-align: right;
}
.copy .love {
  color: #ff2b58;
}