*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

ul, li {
    list-style: none;
} 

body {
    background-color: #b07cf7;
    font-family: 'Raleway', serif;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;  
}

.box_main {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    padding-top: 100px;
    color: #fff;
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 29px;
}

.p1 {
    text-align: center;
    padding-top: 213px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 0 265px 50px 265px;
}

.box_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 30px;
    margin-bottom: 40px;
}

.photo {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.photo:after {
    content: '';
    position: absolute;
    width: 375px;
    height: 310px;
    margin-left: 4px;
    margin-top: 5px;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px #4e545f; 
    background: linear-gradient(180deg, rgba(197, 196, 196, 0) 61%, rgba(30, 28, 28, 0.51) 68%, rgba(96, 95, 95, 1) 73%, rgba(50, 48, 48, 1) 85%, rgba(0, 0, 0, 1) 100%);
    opacity: .5;
}

.photo:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}

.box_img:hover .data_box {
    opacity: 1;
    left: 10%;
    top: 10%;
}

.data_box {
    text-align: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -25px;
    left: 5px;
    transition: all .4s ease;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    background-color: #4e545f;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
}

.text_for_box {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 45px;
    padding-right: 40%;
    color: #fff;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding-top: 20px;
}

.btn-red {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    height: 55px;
    width: 200px;
    line-height: 25px;
    padding: 0 25px;
    font-weight: 300;
    font-size: 20px;
    background-color: #f72b3b;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 120px;
    box-shadow: 0 0 5px #4e545f;
}

.btn-red:hover {
    background-color: #4e545f;
    transition: all .5s ease;
}



